<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo&amp;display=swap'>
    <link rel="stylesheet" href="css/greet.css">
</head>
<body>

<div class="container">
    <h1>RESTful API is online</h1>
    <h1>You can try it out using "Postman" or your own API client</h1>
    <br>
    <h2>List of commands</h2>
    <br>
    <h2>(GET)    /api/v1/customers - to get all customers</h2>
    <h2>(GET)    /api/v1/customers/{id} - to get specific customers</h2>
    <h2>(POST)   /api/v1/customers/ - to add customers</h2>
    <h2>(PUT)    /api/v1/customers/ - to update customer(you'll need to specify customer's id in the very first line of JSON file, eg. "id" : "1")</h2>
    <h2>(DELETE) /api/v1/customers/{id} - to delete specific customers</h2>
</div>

</body>
</html>